body
{
  background-color: white;
  color: black;
}
html 
{
  scroll-behavior: smooth;
  cursor: crosshair;
}
h1, h2, h3
{
  font-family: 'Lexend Zetta', sans-serif;
}
a
{
  text-decoration: none;
  color: #f55;
}
a:hover
{
  color: cyan;
}
a:visited:
{
  color: #f55;
}
ul
{
	padding: 0;
	list-style: none;
}
#navbar
{
  position: fixed;
  top: 0;
  left: -25vw;
  border-right: 1px dotted red;
  color: black;
  z-index: 999;
  width: 30vw;
  height: 100vh;
  animation-name: wjazd;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}
#navbar:hover
{
  animation-name: navbarwys;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes navbarwys
{
	0%
	{
		left: -25vw;
	}
	100%
	{
		left: 0;
	}
}
#navhead
{
  cursor: crosshair;
  font-family: 'Inconsolata', monospace;
  text-shadow: 4px 4px red;
  font-weight: bold;
  text-align: center;
  font-size: 48px;
  line-height: 3;
  color: white;
  text-decoration: none;
  padding: 1vh 5vw 1vh 5vw;
}
#navhead:hover
{
  background-color: black;
  color: white;
  
  animation-name: homelink;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}
@keyframes homelink
{
  0%
  {
    color: white;
    width: 25vw;
  }
  25%
  {
    width: 300vw;
  }
  
  50%
  {
    background-color: black;
    color: black;
    width: 100vw;
    opacity: 0.8;
  }
  
  90%
  {
    
    color: white;
    width: 100vw;
  }
  100%
  {
    background-color: white;
    width: 20vw;
    border-right: 1px dotted red;
  }
}
.navlink
{
 
  color: black;
  text-align: center;
  font-size: 2em;
  padding: 1vw 5vw 1vw 5vw;
  text-transform: uppercase;
  font-family: 'Lexend Zetta', sans-serif;
  line-height: 25vh;
  letter-spacing: 5px;
  animation-name: wjazd2;
  animation-duration: 1s;
  animation-iteration-count: 1;
  cursor: crosshair;
 
}
.navlink:hover
{
  animation-name: navhover;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  width: 100vw;
}
@keyframes navhover
{
  0%
  {
    color: white;
      box-shadow: 0vw 0vh 0vw 0vh red;
    }
  
  50%
  {background-color: white;
    color: black;
    box-shadow: 5vw 0vh 10vw 55vh white;
  }
  
  100%
  {background-color: auto;
    color: white;
    box-shadow: 0vw 0vh 0vw 0vh black;

  }
}
.nav-link
{
  text-decoration: none;
  color: white;
}
.nav-link:hover
{
  text-decoration: none;
  color: black;
}
.nav-link:visited
{
  text-decoration: none;
  color: white;
}
.nav-link:active
{
  text-decoration: none;
  color: white;
}
#main-doc
{
  background-color: #fff; 
  color: #000;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 30vw;
}
.main-header
{
  background-color: #f55;
  color: #fff;
  font-family: 'Lexend Zetta', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1em;
  font-size: 48px;
  text-align: left;
  line-height: 3;
  
  z-index: 1500;
  padding: 1vw 5vw 1vw 5vw;
}


.main-content
{
  min-height: 100vh;
  font-family: 'Inconsolata', monospace;
  padding: 1vw 5vw 1vw 5vw;
  text-align: left;
  font-size: 1rem;
}
#home
{
	background-image: url(https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/11220948_468474146648760_2141562493810618276_n.jpg?_nc_cat=111&_nc_oc=AQknmdhotE-dpm_jBRU7yjFRzqh2OZEgiGpVSyhYVtXM3WC6CfOD1HcLGArvMYLkYbI&_nc_ht=scontent-waw1-1.xx&oh=759d680740609a12c3c242e27ba4f484&oe=5DE1960F);
}
#about-content
{
	font-size: 2rem;
}
#contact-content
{
	font-size: 2rem;
}
.cv
{
  cursor: pointer;
  line-height: 2;
  letter-spacing: 4px;
}
.cv:hover
{
  animation-name: wjazd;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

.collapsible
{
  display: none;
}
.cvtext
{
  width: 90%;
  color: white;
  padding: 3vh 5vw 3vh 3vw;
}
#sub1
{
  background-image: url("https://i.ibb.co/qsj5qwz/ikeafaas.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
#sub2
{
  background-image: url("https://i.ibb.co/qsj5qwz/ikeafaas.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
#sub3
{
  background-image: url("https://i.ibb.co/DVgNqdm/rp.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
#sub4
{
  background-image: url("https://i.ibb.co/84M8Fbq/braintech.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
#sub5
{
  background-image: url("https://i.ibb.co/GRdMLhS/futuro.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
#sub6
{
  background-image: url("https://i.ibb.co/BtLTHK6/daily.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
#mockup1
{
  width: 25%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
#mockup1:hover
{
	animation-name: mockupik;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes mockupik
{
	0%
	{
		width: 25%;
	}
	
	100%
	{
		width: 250%;
		filter: none;
		
	}	
	
}

@keyframes wjazd
{
  0%
  {
    background-color: white;
    color: black;
  }
  10%
  {
    color: white;
  }
  20%
  {
    color: black;
  }
  30%
  {
    color: white;
  }
  40%
  {
    color: black;
  }
  50%
  {
    background-color: white;
    color: white;
  }
  60%
  {
    color: black;
  }
  70%
  {
    color: white;
  }
  80%
  {
    color: black;
  }
  90%
  {
    color: white;
  }
  100%
  {
    background-color: white;
    color: black;
  }
}
@keyframes wjazd2
{
  0%
  {
    position: absolute;
    left: 100vw;
  }
  50%
  {
    left: 0vw;
  }
}
#sf2:hover
{
  background-image: url("https://s2.gifyu.com/images/sf2-1.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
}
#About
{  
  background: #FFFFFF;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;
  color: #000000;
  
}


@media only screen and (max-width: 768px)
{
  body
  {
    width="100vw"
  }
  main-content
  {
    
    
  }
}
